[submodule "fullstack-backend"]
	path = fullstack-backend
	url = https://github.com/yousssef-hm/fullstack-backend.git
[submodule "fullstack-frontend"]
	path = fullstack-frontend
	url = https://github.com/yousssef-hm/fullstack-backend.git
